.btn {
  border: 0;
  box-shadow: $box-shadow-dark;
  font-size: $font-size-sm;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding: .813rem $grid-gutter-width;
  text-transform: uppercase;

  &.btn-sm {
    padding: .469rem $gutter-sm;
  }

  &.btn-lg {
    align-items: center;
    display: flex;
    font-size: $font-size-base;
    justify-content: center;
    padding: 1rem $gutter-lg;

    img {
      margin-left: 12px;
      width: 16px;
    }
  }

  &.btn-secondary {
    background-color: $white;
    color: $primary;

    &:hover {
      color: $gray-900;
    }
  }

  &.btn-link {
    box-shadow: none;

    &.dark {
      color: $white;
    }

    &.text-muted {
      color: $gray-300 !important;
    }
  }

  &.btn-outline-light {
    box-shadow: inset 0 0 0 1px rgba($white, 0.15);

    &:hover {
      background-color: inherit;
      box-shadow: inset 0 0 0 1px rgba($white, 0.4);
      color: inherit;
    }
  }

  &.disabled {
    background-color: $gray-200;
    box-shadow: none;
    color: $gray-600;
    cursor: no-drop;
  }

  &.muted {
    opacity: 0.25;
  }
}

.btn-icon {
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: center;
  padding: 0;
  width: 36px;

  img {
    position: relative;
  }
}

.text-link {
  text-decoration: underline;
  cursor: pointer;
}
